/* DIV Container 영역 */
#foot {
    background-color: #01040A;
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 150px;
}

/* DIV Container 영역 */

/* Lost Ark PEOPLE TEAM P요소 영억*/
#foot :first-child {
    position: absolute;
    color: #FADC79;
    left: 48%;
}

/* Lost Ark PEOPLE TEAM P요소 영억 END*/

/*후원 */
#lopel2 {
    position: absolute;
    color: #FADC79;
    border: 1px solid #FADC79;
    bottom: 40px;
    left: 43%;
}

/*후원 END*/

/* 이용약관 */
#service {
    position: absolute;
    color: #FADC79;
    bottom: 70px;
    left: 46%;

}

/* 이용약관 END */

/* 버그/문의 */
#report {
    position: absolute;
    color: #FADC79;
    bottom: 70px;
    left: 53%;
}

/* 버그/문의 END */