@font-face {
    font-family: "LopleFont";
    src: url("../font/solbiche.ttf");
}
body{
    font-family:"LopleFont";
    font-size: 30px;
}
#header {
    width: 100%;
    align-items: center;

    margin-top: 35px;
    display: flex;
    border-bottom: 1px solid silver;
    padding: 10px;

}

/* 헤더 wraper */

#logo_container,
#header_button {
    display: inline-block;
    position: relative;
    margin-left: 5%;
}

/* css 콘테이너 다중선택 */
#logo_container {

    width: 80px;
    height: 130px;
    margin-right: 130px;
    margin-top: 5px;

}

/* 로고 전용 콘테이너 */

#header_button {

    padding: 20px;
    background-image: url("../Images/headerbuttonBG.png");
    font-weight: bold;
    font-size: 40px;

}

/* 네비게이션 */
#lople_logo {
    width: 180px;
    height: 130px;
    margin-left: 55px;
    background-image: url("../Images/stainles.png");
    background-size: 270px 150px;
    background-position: center;

}

/* 로고 */
.btn {
    padding: 10px;
    display: inline-block;
    width: 130px;
    text-align: center;
    margin-left: 5px;
    background-image: url("../Images/header-btn.png");
    color: chocolate;
}

/* 네비게이션 버튼 */
#index_content_waraper {
    width: 100%;
    height: 85px;
    display: flex;
    background-color: #01040a;
    justify-content: center;
}
#search_warper{
    width: max-content;
    height: 53px;
    margin-left: 60px;
}

#search_nav {
    width: 800px;
    height: 53px;
    background-color: white;
    margin-top: 15px;
    border-radius: 35px;
    font-size: 22px;
    position: relative;
}
#search_container_succes:hover{
    cursor: pointer;
}
#search_container_succes{
    width: 50px;
     height: 50px;
   
    border-radius: 35px;
    border-width: 100px;
    padding: 4px;
    
    position: relative;
    z-index: 15;
    right: 70px;
}


/* footter */

#footter_wrap {
    width: 100%;
    height: 200px;
    background-color: #01040a;
    margin-left: auto;
    margin-right: auto;
    display: flex;

}

/* footter warper */
#footter_logo_container {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid silver;
    border-top: 1px solid silver;

    display: flex;
    justify-content: left;
    color: #FADC79;

}

/* 푸터 로고 콘테이너 */
#footter_logo {
    width: 165px;
    height: 130px;
    align-self: flex-start;
    margin-left: 11%;
    margin-top: 35px;
    background-image: url("../Images/stainles.png");
    background-size: 270px 150px;
    background-position: center;
}

/* 푸터 로고 단일선택 */
#footter_logo_container p {
    display: inline;
    padding: 5px;
    margin-top: 70px;
    margin-left: 35px;
}

/* 텍스트 요소 위치 정리 */
.pointer:hover {
    cursor: pointer;
}
#reward_warper{
    width: 100%;
    height: 130px;
    background-color: #01040a;
}
#reward_container{
    width: 60%;
    height: 130px;
    background-color: white;
    margin-left: 300px;
    text-align: center;
    text-align: center;
    
}
#font_container{
    height: 50px;
    text-align: center;
    padding: 30px;
}


/* 텍스트 항목 클래스 선택자 부여하여 마우스 커서 올릴시 커서 변경 */



@media screen and(max-width : 1280px) {
    #header {
        flex-direction: row;
        justify-content: space-between;
        width: max-content;
        display: flex;
        right: 5;
    }
}


@media screen and (max-width: 1024px) {}

@media screen and (max-width: 1024px) {}

/* 미디어 쿼리 작성 영역*/