.main {
    width: 100%;
    height: 550px;
    display: flex;
}

.container {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 80px;
    overflow: auto; 
    height: 500px; 
    width: 20%;
    font-size: 20px;
}

.container::-webkit-scrollbar {
    display: none;
}

div button {
    position: relative;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: #01040a;
    color: white;
    width: 215px;
    height: 50px;
    text-align: left;
    border-left: none;
    border-right: none;
    border-top: solid 0.5px rgba(255, 255, 255, 0.349);
    border-bottom: solid 0.5px rgba(255, 255, 255, 0.349);
    cursor: pointer;
}

.img {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 120px;
    background-color: white;
    width: 70%;
    height: 500px;
    overflow: auto; 
}

.img::-webkit-scrollbar {
    display: none;
}
