body {
    margin: 0px;
    background-color: #01040A;
}

.container_warp {
    display: flex;
    width: 100%;
    position: absolute;
    top: 245px;
    border: 1px solid white;
    /* background-color: #01040A; */
    justify-content: center;
}

.container_header {
    color: #fadc79;
    /* size: 30px; */
    margin-left: 20px;
    /* font-weight: bold; */
    -webkit-text-stroke: 1px gray;
    /* 백그라운드 컬러 검정 - 투명도 지정 - 텍스트 윤곽선 추가 */
}

.container {
    background-color: white;
    margin: 30px;
    width: 40%;
    height: 500px;
}

.specup_efficiency {

}

.ability_stone {
    
}