/* 바디영역 */
body {
    margin: 0px;
    background-color: #01040A;
}

.container_warp {
    display: flex;
    width: 100%;
    position: absolute;
    top: 245px;
    border: 1px solid white;
    /* background-color: #01040A; */
    justify-content: center;
}

#container_header {
    color: #fadc79;
    margin-left: 20px;
    margin-top: 10px;
    /* font-size: 30px; */
    /* font-weight: bold; */
    /* 이 위에 두개는 왜 부트스트랩이랑 같이 못 쓰는거지.. */
    -webkit-text-stroke: 1px gray;
}

.container {
    background-color: white;
    margin: 30px;
    width: 40%;
    height: 500px;
}

.specup_efficiency {

}

.ability_stone {
    
}