@font-face {
    font-family: "LopleFont";
    src: url("../font/solbiche.ttf");
}

#body {
    font-family: "LopleFont";
    background-color: #01040A;
}

/* 서버 및 직업 선택란 컨테이너 */
#Select_Container {
    display: flex;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 1200px;
    font-size: 30px;
    /* border: 1px solid white; */
}

.Select_Con_CheckBox {
    background-color: transparent;
    font-family: "LopleFont";
    border: 0px;
    cursor: pointer;
    font-size: 25px;
    display: none;
}
/* 선택란 체크박스 양식 */
.btn-JobCheck{
    color:white;
    margin-right: 15px;
    cursor:pointer;
}
.btn-JobCheck:hover{
    color: blue;
}
.Select_Con_CheckBox:checked + label{
    color: #FADC79;
}
.Select_Con_CheckBox:checked:hover + label{
    color: blue;
}

/* #Select_Container>div{
    border: 1px solid white;
} */
/* 선택란 첫번째 체크박스 컨테이너 */
#Select_Con_FirstLine>div {
    width: 570px;
    height: 50px;
    display: flex;
    align-items: center;
}

#Select_Con_FirstLine>div>span {
    color: #FADC79;
    margin-right: 15px;
}

/* 선택란 중간 흰 막대 */
#middle_line {
    margin-left: -30px;
    margin-right: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 15px;
    height: 280px;
    background-color: white;
}

/* 선택란 두번째 체크박스 컨테이너 */
#Select_Con_SecondLine>div {
    width: 580px;
    height: 50px;
    display: flex;
    align-items: center;
}
#Select_Con_SecondLine>div>label {
    font-size: 25px;
}
#Select_Con_SecondLine>div>span {
    margin-right: 15px;
    color: #FADC79;
}

/* 순위 컨테이너 */
#Rank_Container {
    display: flex;
    width: 1200px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(157, 159, 180);
    flex-direction: column;
    font-size: 30px;
}

/* 순위 컨테이너 내부 랭크 타이틀 */
#Rank_Category {
    display: flex;
    width: 1200px;
    height: 95px;
    align-items: center;
    border-bottom: 1px solid black;
}
.User_Ranking{
    display: flex;
    width: 1200px;
    height: 95px;
    align-items: center;
    border-bottom: 1px solid black;
}
.Rank {
    position: relative;
    width: 150px;
    text-align: center;
}

.CharacterName {
    position: relative;
    width: 210px;
    font-size: 25px;
    text-align: center;
}

.ServerName {
    position: relative;
    width: 140px;
    text-align: center;
}

.JobClass {
    position: relative;
    width: 140px;
    text-align: center;
}

.Level {
    position: relative;
    width: 140px;
    text-align: center;
}

.Level>span {
    color: rgb(41, 206, 206);
}

.ItemSet {
    font-size: 27px;
    position: relative;
    width: 100px;
    text-align: center;
}

.JobEngrave {
    font-size: 27px;
    position: relative;
    width: 170px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.NormalEngrave{
    display: flex;
    width: 170px;
    flex-direction: column;
    text-align: center;
}

.NormalEngrave>span{
    text-align: center;
    font-size: 20px;
    margin-bottom: -5px;
}